ci:
    autofix_prs: false
repos:
  - repo: https://github.com/secondlife/git-hooks.git 
    rev: v1.0.2
    hooks:
      - id: llsd
      - id: no-trigraphs
      - id: end-of-file
        files: \.(cpp|c|h|py|glsl|cmake|txt)$
        exclude: language.txt
      - id: indent-with-spaces
        files: \.(cpp|c|h|inl|py|glsl|cmake)$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-xml
      - id: mixed-line-ending
